<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>CS655 Image Recognition</title>
<style>
#mask {
position: fixed;
top: -80px;
left: 50%;
transform: translate(-50%, 20px);
width: 100px;
height: 40px;
line-height: 40px;
background-color: #23b9df;
border-radius: 6px;
font-size: 14px;
text-align: center;
color: #fff;
transition: all 1s;
opacity: 0;
}
button{
width: 100px;
height: 40px;
line-height: 40px;
outline-style: none;
border: 0;
border-radius: 4px;
background: rgb(92, 107, 240);
color: #fff;
}
</style>
</head>
<body>
<h1>Image Recognition System</h1>
    <form action = "http://140.254.14.103:5000/upload" method = "post" enctype = "multipart/form-data">
        <input type="file" name = "img"/>
        <button type="submit">predict</button>
    </form>

<div class="mask">upload successfully</div>

</body>
</html>
